<div class="flex gap-2 w-full p-2">
  <!-- Lista -->
  <div class="bg-gray-200 flex-grow rounded flex flex-col p-2 gap-2">
    <div *ngFor="let customer of customers" class="border-l-4 border-yellow-800 p-2 border rounded">
      <div class="text-sm text-blue-600 text-right">
        #Id {{ customer.id }}
      </div>
      {{ customer.name }}
    </div>
  </div>
  <!-- Formulario -->
  <div class="bg-blue-100 w-1/3 rounded p-2 flex flex-col">
    <!-- Form title -->
    <div>Formulario</div>
    <div class="flex flex-col">
      <!-- Form Body -->
      <div>
        <input #nameInput type="text" [(ngModel)]="name" (keyup.enter)="save(); nameInput.focus()" class="w-full p-2 p-2">
      </div>
      <!-- Form Footer -->
      <div>
        <button (click)="save()" class="bg-green-600 px-2 py-1 rounded-full text-white">Guardar</button>
      </div>
    </div>
  </div>
</div>
